body {
    color: white;
    background-color: black;
    font-family: Impact, Charcoal, sans-serif;
    overflow: hidden;
    padding: 20px;
}
    
h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 20px;
}

#quote-message {
    position: fixed;
    bottom: 100px;
    max-width: 550px;
    padding: 10px;
    font-size: 25px;
    color: #add8e6;
}

#selectAnimation{
    color:black;
}

#skycon-canvas {
    position: fixed;
    top: 100px;
    left: 475px;
}

#daily-temps {
    font-size: 32px;
}

#sunrise {
    position: fixed; 
    top: 480px; 
    left: 290px;
    margin-left: -10px;
}

#mycanvas {
    position: fixed;
    top:0;
    left:0;
}

#weather-info-container {
    position:fixed; top: 0px;
    text-shadow: 2px 2px 1px #000;
}

#events-list {
    float:right;
    text-shadow: 2px 2px 2px #444444;
    text-align:right;
    top: -20px;
}

#hourly-precipitation {
    top: 520px; 
    position: fixed;
    margin-left: 5px;
}

#hourly-precipitation h5 {
    margin-left: -20px;
    color: #999;
}

#conditions-hourly-container {
    margin-left: 5px;
}

.hourly-time-container {
    padding: 0;
    margin: 0;
}

.hourly-time {
    font-size: 10px;
    padding: 10px; 
    font-weight: bold; 
    color:black;
    margin: 0;
    min-width: 58px;
    border: solid 1px #CCC;
}

.sunriseText {
    color: burlywood;
}

.sunsetText {
    color: goldenrod;
}

.date-details {
    color: white;
    margin-left: 20px;
}

.date-title {
    color: #999;
}

li {
    display: block;
}

img {
    max-width: 500px;
}

.all-day-event {
    color: #dcd1b2;
    font-size: 25px;
    padding: 10px;
}

